body {
  background-color: #555555;
}
.navbar-default,
.nav-tabs > li.active > a,
.nav-tabs > li > a:hover,
.panel .panel-heading,
.panel {
  border-radius: 0;
}

.nav-tabs {
  border-bottom: 0;
}

.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a {
  background-color: #f8f8f8;
  border-top: 0;
}

.is-shadow {
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
}

.print_area {
  background-color: #fff;
  width: 200px;
  margin: auto;
}

.page-header {
  margin: 10px;
}

@media print {
  title, body * {visibility: hidden;}
  .print_area * {visibility: visible;}
}
